<table>
        <tr>
            <td>
                <form id="raceform" autocomplete="off">
                    <div>
                        <label for="raceDate">Race Date</label>
                        <input type="date" name="raceDate" id="raceDate" required>
                    </div>
                    <div>
                        <label for="racelocation">Race Location</label>
                        <input type="text" name="racelocation" id="raceLocation" required>
                    </div>
                    <div>
                        <label for="racetype">Race Type</label>
                        <select id="raceType" name="raceType" required>
                            <option value="100">100 Meters</option>
                            <option value="200">200 Meters</option>
                          </select>
                    </div>

                    <div>
                        <label for="time">Time</label>
                        <input type="number" name="time" id="raceTime" required>
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Race Date</th>
                                <th>Race Location</th>
                                <th>Race type</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>