html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    margin-top: 100px;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: dimgray;
}

nav .logo {
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav #links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav #links li {
    list-style: none;
}

nav #links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

nav #links .on {
    background: cadetblue;
}

nav #links li:hover {
    background: cadetblue;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    font-weight: 700;
    color: cadetblue;
}

section:nth-child(odd) {
    background: lightgrey;
}

@media screen and (max-width: 900px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    #icon {
        position: fixed;
        top: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    #icon::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: white;
        transform: translateY(-10px);
        transition: 0.4s;
    }
    #icon::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background: white;
        box-shadow: 0 10px 0 0 #FFF;
        transition: 0.4s;
    }
    .active#icon::before {
        transform: rotate(45deg);
    }
    .active#icon::after {
        transform: rotate(-45deg);
        box-shadow: none;
    }
    nav #links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 1000px;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav #links a {
        font-size: 20px;
    }
    nav .active#links {
        bottom: 0;
    }
    nav icon {
        display: block;
    }
}